<html>
<head>
  <title>Welcome to Rock-Paper-Scissors!</title>
</head>
<body>
  <h1>Welcome to Rock-Paper-Scissors!</h1>
  <p>Learn more about Rock-Paper-Scissors on <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors" target="_blank">Wikipedia</a>.</p>
</body>
</html>
