<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors Game</title>
  <style>
.output {
     font-weight: bold; font-size: 23px
    }
  </style>
  
</head>
<body>
<div class="output">
  <a>We played <%= @player_choice %>!</a>
  <p>They played <%= @computer_choice %>!</p>
  <p>We <%= @result %></p>
  

</body>
</html>
